div.full * {
  width: 100%;
  height: 100%;
}

div.full section {
  margin: 0px;
}

img[alt="modcloth"] {
  float: left;
}

img[alt="Do it live"], img[alt="github"], img[alt="agile"], img[alt="capistrano"], img[alt="devopsdays"] {
  width: 700px;
  height: auto;
}

h1 {
  font-size: 2.2em;
}

h2 {
  font-size: 2em;
}

li {
  font-size: 2em;
}

li li {
  font-size: 1em;
}
